* {
  width: 98%;
  margin: 10px auto;
  font-family: "Inter", sans-serif;
}

h1 {
  font-family: "Inter", sans-serif;
  font-size: large;
}

h2 {
  font-family: "Mooli", sans-serif;
  font-size: small;
  color: grey;
}

a {
    text-decoration: none;
}

.topHeader{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    align-items: start;
}

.topHeadersecound{
    text-align: end;
}





































@media (max-width: 486px) {
    .topHeader{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: space-between;
        align-items: start;
    }

    .topHeadersecound{
        text-align: start;
    }
  }










